.nri-logo{
    height:25px;
    width: 54px;
    float: left;
}

.nri-logo menu{
    font-size: 13px;
    color: #000000;
    padding-top: 20px;
    padding-right:27px; 
}

.topic-path{
    color:#cccccc;
}

.digital-business{
    background-image: url();
    color: #ffffff;
    font-weight: bold;
}

.sns-icon{
    height: 23px;
    padding-right: 28px;
}

.nri-a{
    background-image: url();
    font-weight: bold;
}

.caption-a{
    font-size: 13px;
}

.btn{
    height:73px ;
    width: 295px;
    background-color: #233b6c;
}

.left{
    background-image: url();
    color: #233b6c;
}

.right{
    background-image: url();
    color: #233b6c;
}

.nri-btns{
    width: 800px;
    height: 243px;
    background-color: #bce2e8;
}

.nri-btns p{
    font-weight: bold;
}

.nri-btns btn-a{
    width: 240px;
    height: 70px;
    background-image: url();
}

.campany-heading{
    font-weight: bold;
}

.campany-heading-b{

}

.campany-heading-b p{
    font-weight: bold;
}

.campany-list-a{

}

.campany-heading-c{

}

.campany-heading-c p{
    font-weight: bold;
}


.campany-list-c{

}

.campany-heading-d{

}

.campany-heading-d p{
    font-weight: bold;
}

.campany-list-d{

}

.campany-heading-e{

}

.campany-list-e{

}

.campany-heading-f{

}
.campany-list-f{

}

.btn-back{

}

.campany-heading-g{

}

.campany-list-g{

}

.campany-list-h{

}

.campany-list-i{

}

.campany-list-j{

}

.campany-list-k{

}

.campany-list-l{

}

.campany-list-m{

}

.footer-list{

}